<header class="fixed-top bg-light">
  <section>
    <div>
      <!-- Sidebar for mobile only -->
      <div class="navbar-menu position-fixed top-0 start-0 bottom-0 w-75 mw-xs d-lg-none" style="z-index: 9999;">
        <div class="navbar-close navbar-backdrop position-fixed top-0 start-0 end-0 bottom-0 bg-dark" style="opacity: 75%;"></div>
        <nav class="position-relative h-100 w-100 d-flex flex-column justify-content-between py-2 px-8 bg-white overflow-auto">
          <div class="d-flex align-items-center">
            <a class="me-auto h4 mb-0 text-decoration-none" href="http://localhost:3000">
              <img src="/flaro-logo-black.svg" class="img-fluid" alt="Logo" style="max-height: 30px;">
            </a>
            <a class="navbar-close" href="<%= root_path %>">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 18L18 6M6 6L18 18" stroke="#111827" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </a>
          </div>
          <div class="py-0">
            <ul class="nav flex-column">
              <li class="nav-item mb-4"><a class="nav-link text-dark" href="http://localhost:3000">Features</a></li>
              <li class="nav-item mb-4"><a class="nav-link text-dark" href="http://localhost:3000">Solutions</a></li>
              <li class="nav-item mb-4"><a class="nav-link text-dark" href="http://localhost:3000">Resources</a></li>
              <li class="nav-item"><a class="nav-link text-dark" href="http://localhost:3000">Pricing</a></li>
            </ul>
          </div>
          <div>
            <% if user_signed_in? %>
              <a class="btn w-100 fw-medium" href="<%= destroy_user_session_path %>" data-method="delete">Sign Out</a>
              <a class="btn w-100 btn-primary" href="<%= new_output_path %>">My Videos</a>
            <% else %>
              <a class="btn w-100 fw-medium" href="/users/sign_in">Login</a>
              <a class="btn w-100 btn-primary" href="/users/sign_in">Sign in</a>
            <% end %>
          </div>
        </nav>
      </div>
    </div>
    <section>
      <!-- Main navbar -->
      <nav class="navbar navbar-expand-lg bg-info-light py-3" style="box-shadow: 0 0 5px gray;">
        <div class="container">
          <a class="navbar-brand me-6" href="http://localhost:3000">
            <img src="/flaro-logo-black.svg" class="img-fluid" alt="Logo" style="max-height: 30px;">
          </a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" href="<%= about_path %>">FAQ</a></li>
              <li class="nav-item"><a class="nav-link" href="<%= pricing_path %>">Pricing</a></li>
            </ul>
          </div>
          <div class="d-none d-lg-block">
            <% if user_signed_in? %>
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'fw-medium me-4' %>
              <a class="btn btn-primary fs-9" href="<%= outputs_path %>">My Videos</a>
            <% else %>
              <a class="fw-medium me-4" href="/users/sign_in">Sign In</a>
              <a class="btn btn-primary fs-9" href="<%= new_user_registration_path %>">Try 14 Days Free Trial</a>
            <% end %>
          </div>
          <div class="d-lg-none">
            <button class="btn navbar-burger p-0" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu">
              <svg class="text-primary" width="51" height="51" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="56" height="56" rx="28" fill="currentColor"></rect>
                <path d="M37 32H19M37 24H19" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button>
          </div>
        </div>
      </nav>
    </section>
  </section>
</header>
<!-- Offcanvas for mobile menu -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="mobileMenu" aria-labelledby="mobileMenuLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="mobileMenuLabel">
      <img src="/flaro-logo-black.svg" class="img-fluid" alt="Logo" style="max-height: 30px;">
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column">
      <li class="nav-item mb-4"><a class="nav-link text-dark" href="http://localhost:3000">Features</a></li>
      <li class="nav-item mb-4"><a class="nav-link text-dark" href="http://localhost:3000">Solutions</a></li>
      <li class="nav-item mb-4"><a class="nav-link text-dark" href="http://localhost:3000">Resources</a></li>
      <li class="nav-item"><a class="nav-link text-dark" href="http://localhost:3000">Pricing</a></li>
    </ul>
    <div class="pt-3">
      <% if user_signed_in? %>
        <a class="btn w-100 fw-medium" href="<%= destroy_user_session_path %>" data-method="delete">Sign Out</a>
        <a class="btn w-100 btn-primary" href="<%= new_output_path %>">My Videos</a>
      <% else %>
        <a class="btn w-100 fw-medium" href="/users/sign_in">Login</a>
        <a class="btn w-100 btn-primary" href="/users/sign_in">Sign in</a>
      <% end %>
    </div>
  </div>
</div>
