<!-- Main container for the top content section -->
<div class="top-content text-center pt-3">
  <!-- Main heading with a span for the typed effect -->
  <h1>Turn REDDIT stories into shorts.<span class="accent" data-controller="typed"></span></h1>
  <br>
  <!-- Subheading for additional context -->
  <h2>Generate Engaging Shorts Using Customizable Templates</h2>
  <br>
</div>
<!-- Row to center the search container -->
<div class="row d-flex justify-content-center">
  <!-- Search container with custom styling -->
  <div class="search-container custom-search">
    <%= form_with url: 'outputs/new', method: :get do |form| %>
      <%= form.text_field :query %>
      <%= form.submit "generate 😎 (we really need to work on css)"%>
    <% end %>
    <!-- Input field for the Reddit post URL -->
    <%# <input type="text" class="custom-search-input" placeholder="Reddit Post Url"> %>
    <!-- Button to start creating, with an SVG icon -->
    <%# <a href="/outputs/new" class="custom-search-btn">Start Creating
      <svg style="height:16px;margin-left:10px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path fill="currentColor" d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z"></path>
      </svg>
    </a> %>
  </div>
</div>
<br>
<!-- Examples section with flexbox for even spacing -->
<div class="examples d-flex justify-content-evenly" style="padding: 50px 0px;">
  <!-- Each video container rendering a partial for example cards -->
  <div id="video-container">
    <%= render "pages/examples_card" %>
  </div>
  <div id="video-container">
    <%= render "pages/examples_card" %>
  </div>
  <div id="video-container">
    <%= render "pages/examples_card" %>
  </div>
  <div id="video-container">
    <%= render "pages/examples_card" %>
  </div>
</div>
<br>
<!-- Feature section with alternating content -->
<div class="feature-1">
  <div class="col-6"></div>
  <div class="col-6 pr-2">
    <!-- Feature heading and description -->
    <h2>Instant Story Magic</h2>
    <p>Share your favorite Reddit stories effortlessly! With just a few clicks and under a minute, we transform them into captivating, shareable short-form content.</p>
  </div>
</div>
<div class="feature-1">
  <div class="col-6">
    <h2>Fast And Delightful Editing</h2>
    <p>Customize your video with a variety of font styles, sizes, and families for subtitles. Choose the perfect voice-over, tweak to your taste, and create your video instantly!.</p>
  </div>
  <div class="col-6 pr-2"></div>
</div>
<div class="feature-1">
  <div class="col-6"></div>
  <div class="col-6 pr-2">
    <h2>Focus On What Matters</h2>
    <p>Store all your created short-form videos in your personal library. Access, download, or share them directly to your favorite social media sites and sharing platforms anytime!</p>
  </div>
</div>
<!-- Pricing section -->
<div class="pricing-container">
  <h2 class="pricing-header">Pricing</h2>
  <div style="display:flex;flex-direction:column;gap:20px;margin-bottom:40px">
    <!-- Free plan container -->
    <div class="pricingcontainer_1">
      <h2 class="pricingtitle_iouC mt-1">Free</h2>
      <div style="display:flex;flex-direction:row;align-items:start;gap:10px">
        <!-- Feature icon and description for free plan -->
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" style="flex-shrink:0">
          <circle cx="10" cy="10" r="10" fill="#0B84F3"></circle>
          <path d="M14.7908 7.20505C15.0697 7.47844 15.0697 7.92243 14.7908 8.19583L9.07711 13.795C8.79813 14.0683 8.34505 14.0683 8.06606 13.795L5.20924 10.9954C4.93025 10.722 4.93025 10.278 5.20924 10.0046C5.48823 9.73121 5.9413 9.73121 6.22029 10.0046L8.5727 12.3077L13.7819 7.20505C14.0609 6.93165 14.514 6.93165 14.793 7.20505H14.7908Z" fill="white"></path>
        </svg>
        <div class="text_pP5P">1 video/day</div>
      </div>
      <div style="display:flex;flex-direction:row;align-items:start;gap:10px">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" style="flex-shrink:0">
          <circle cx="10" cy="10" r="10" fill="#0B84F3"></circle>
          <path d="M14.7908 7.20505C15.0697 7.47844 15.0697 7.92243 14.7908 8.19583L9.07711 13.795C8.79813 14.0683 8.34505 14.0683 8.06606 13.795L5.20924 10.9954C4.93025 10.722 4.93025 10.278 5.20924 10.0046C5.48823 9.73121 5.9413 9.73121 6.22029 10.0046L8.5727 12.3077L13.7819 7.20505C14.0609 6.93165 14.514 6.93165 14.793 7.20505H14.7908Z" fill="white"></path>
        </svg>
        <div class="text_pP5P">Max length of video is 1 minute</div>
      </div>
    </div>
    <!-- Starter plan container -->
    <div class="pricingcontainer_1">
      <h2 class="pricingtitle_iouC mt-1">Starter</h2>
      <div style="display:flex;flex-direction:row;align-items:center;gap:10px">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" style="flex-shrink:0">
          <circle cx="10" cy="10" r="10" fill="#0B84F3"></circle>
          <path d="M14.7908 7.20505C15.0697 7.47844 15.0697 7.92243 14.7908 8.19583L9.07711 13.795C8.79813 14.0683 8.34505 14.0683 8.06606 13.795L5.20924 10.9954C4.93025 10.722 4.93025 10.278 5.20924 10.0046C5.48823 9.73121 5.9413 9.73121 6.22029 10.0046L8.5727 12.3077L13.7819 7.20505C14.0609 6.93165 14.514 6.93165 14.793 7.20505H14.7908Z" fill="white"></path>
        </svg>
        <div class="text_pP5P">10 videos/day</div>
      </div>
      <div style="display:flex;flex-direction:row;align-items:center;gap:10px">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" style="flex-shrink:0">
          <circle cx="10" cy="10" r="10" fill="#0B84F3"></circle>
          <path d="M14.7908 7.20505C15.0697 7.47844 15.0697 7.92243 14.7908 8.19583L9.07711 13.795C8.79813 14.0683 8.34505 14.0683 8.06606 13.795L5.20924 10.9954C4.93025 10.722 4.93025 10.278 5.20924 10.0046C5.48823 9.73121 5.9413 9.73121 6.22029 10.0046L8.5727 12.3077L13.7819 7.20505C14.0609 6.93165 14.514 6.93165 14.793 7.20505H14.7908Z" fill="white"></path>
        </svg>
        <div class="text_pP5P">Max Length of video is 2 minutes</div>
      </div>
    </div>
    <!-- Pro plan container -->
    <div class="pricingcontainer_1">
      <h2 class="pricingtitle_iouC mt-1">Pro</h2>
      <div style="display:flex;flex-direction:row;align-items:center;gap:10px">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" style="flex-shrink:0">
          <circle cx="10" cy="10" r="10" fill="#0B84F3"></circle>
          <path d="M14.7908 7.20505C15.0697 7.47844 15.0697 7.92243 14.7908 8.19583L9.07711 13.795C8.79813 14.0683 8.34505 14.0683 8.06606 13.795L5.20924 10.9954C4.93025 10.722 4.93025 10.278 5.20924 10.0046C5.48823 9.73121 5.9413 9.73121 6.22029 10.0046L8.5727 12.3077L13.7819 7.20505C14.0609 6.93165 14.514 6.93165 14.793 7.20505H14.7908Z" fill="white"></path>
        </svg>
        <div class="text_pP5P">30 videos/day</div>
      </div>
      <div style="display:flex;flex-direction:row;align-items:center;gap:10px">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" style="flex-shrink:0">
          <circle cx="10" cy="10" r="10" fill="#0B84F3"></circle>
          <path d="M14.7908 7.20505C15.0697 7.47844 15.0697 7.92243 14.7908 8.19583L9.07711 13.795C8.79813 14.0683 8.34505 14.0683 8.06606 13.795L5.20924 10.9954C4.93025 10.722 4.93025 10.278 5.20924 10.0046C5.48823 9.73121 5.9413 9.73121 6.22029 10.0046L8.5727 12.3077L13.7819 7.20505C14.0609 6.93165 14.514 6.93165 14.793 7.20505H14.7908Z" fill="white"></path>
        </svg>
        <div class="text_pP5P">Max Length of video is 5 minutes</div>
      </div>
      <div style="display:flex;flex-direction:row;align-items:center;gap:10px">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" style="flex-shrink:0">
          <circle cx="10" cy="10" r="10" fill="#0B84F3"></circle>
          <path d="M14.7908 7.20505C15.0697 7.47844 15.0697 7.92243 14.7908 8.19583L9.07711 13.795C8.79813 14.0683 8.34505 14.0683 8.06606 13.795L5.20924 10.9954C4.93025 10.722 4.93025 10.278 5.20924 10.0046C5.48823 9.73121 5.9413 9.73121 6.22029 10.0046L8.5727 12.3077L13.7819 7.20505C14.0609 6.93165 14.514 6.93165 14.793 7.20505H14.7908Z" fill="white"></path>
        </svg>
        <div class="text_pP5P">Prioritized support</div>
      </div>
    </div>
  </div>
  <!-- Feedback section -->
  <div class="feedback">
    <div class="feedback-box">
      <!-- Feedback header and description -->
      <div class="fb-header">Give us feedback, we're new!</div>
      <p>Give us your thoughts about possible improvements to our website, we’re newbies 🦖</p>
      <!-- Input field for user feedback -->
      <div class="fb-input-container">
        <input type="text" class="feedback-input" placeholder="How can we improve user experience?">
      </div>
      <div style="width:4px;height:8px"></div>
      <!-- Button to send feedback -->
      <button type="button" class="feedback-btn">Send</button>
    </div>
  </div>
</div>
